body{
  font-family: 'Roboto Slab', serif;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}


.card-body p {
    margin-top: 0;
    margin-bottom: 0;
}
